@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    
}

:root {
    --main-color: #6e3562;
    --bg-color: #fff;
    --text-color: #0f0c27;
    --hover: hsl(290, 100%, 51%);

    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

*::selection{
    color: var(--bg-color);
    background: var(--main-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 18px 10%;
    transition: 0.2s;
}

header.shadow {
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--hover);
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#darkmode {
    font-size: 22px;
    cursor: pointer;
}